<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaoshu.dao.expressPersonMapper">
<select id="findAll" parameterType="personVo" resultType="personVo">
SELECT
p.id,
p.express_name,
p.sex,
p.express_trait,
p.entry_time,
p.create_time,
p.express_type_id,
c.express_name AS cname
FROM
express_company AS c ,
express_person AS p
WHERE
c.id = p.express_type_id
<if test="expressName!=null and expressName!=''">
and p.express_name like '%${expressName}%'
</if>
<if test="expressTypeId!=null and expressTypeId!=''">
and p.express_type_id = #{expressTypeId}
</if>
<if test="start !=null">
 and p.entry_time &gt;= #{start}
</if>
<if test="end !=null">
 and p.entry_time &gt;= #{end}
</if>
</select>
</mapper>